{% extends 'main.html' %}

{% block content %}

<div class="container">
    <div class="row row-cols-auto gap-4">
        <div class="col">
            <div class="row">

                {% for post in post %}
                <div class="col-sm-6 mb-3 mb-sm-0">

                    <div class="card" style="width: 18rem">
                        <img src="{{ post.image_front }}" class="card-img-top" alt="..." />
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h2>{{ post.subtitle }}</h2>
                            <p class="card-text">
                                {{ post.description }}
                            </p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>

                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock content %}
